@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
}

p{
  margin: 0;
}

button{
  padding: 0;
  margin: 0;
  border: 0;
}

/* font sizes */

.fs-xs {
  font-size: 16px;
}
.fs-sm {
  font-size: 18px;
}
.fs-nr {
  font-size: 20px;
}
.fs-md {
  font-size: 25px;
}
.fs-sb {
  font-size: 30px;
}
.fs-bg {
  font-size: 35px;
}
.fs-lg {
  font-size: 45px;
}
.fs-xl {
  font-size: 50px;
}
.fs-2xl {
  font-size: 55px;
}
.fs-3xl {
  font-size: 80px;
}

@media (min-width: 1200px){
  .fs-xs {
    font-size: 16px;
  }
  .fs-sm {
    font-size: 18px;
  }
  .fs-nr {
    font-size: 20px;
  }
  .fs-md {
    font-size: 25px;
  }
  .fs-sb {
    font-size: 30px;
  }
  .fs-bg {
    font-size: 35px;
  }
  .fs-lg {
    font-size: 45px;
  }
  .fs-xl {
    font-size: 50px;
  }
  .fs-2xl {
    font-size: 55px;
  }
  .fs-3xl {
    font-size: 80px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .fs-xs {
    font-size: 15px;
  }
  .fs-sm {
    font-size: 17px;
  }
  .fs-nr {
    font-size: 18px;
  }
  .fs-md {
    font-size: 22px;
  }
  .fs-sb {
    font-size: 25px;
  }
  .fs-bg {
    font-size: 30px;
  }
  .fs-lg {
    font-size: 40px;
  }
  .fs-xl {
    font-size: 45px;
  }
  .fs-2xl {
    font-size: 50px;
  }
  .fs-3xl {
    font-size: 60px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .fs-xs {
    font-size: 15px;
  }
  .fs-sm {
    font-size: 16px;
  }
  .fs-nr {
    font-size: 17px;
  }
  .fs-md {
    font-size: 18px;
  }
  .fs-sb {
    font-size: 20px;
  }
  .fs-bg {
    font-size: 25px;
  }
  .fs-lg {
    font-size: 35px;
  }
  .fs-xl {
    font-size: 40px;
  }
  .fs-2xl {
    font-size: 45px;
  }
  .fs-3xl {
    font-size: 50px;
  }
}
@media (min-width: 567px) and (max-width: 768px) {
  .fs-xs {
    font-size: 15px;
  }
  .fs-sm {
    font-size: 15px;
  }
  .fs-nr {
    font-size: 16px;
  }
  .fs-md {
    font-size: 17px;
  }
  .fs-sb {
    font-size: 18px;
  }
  .fs-bg {
    font-size: 20px;
  }
  .fs-lg {
    font-size: 25px;
  }
  .fs-xl {
    font-size: 30px;
  }
  .fs-2xl {
    font-size: 35px;
  }
  .fs-3xl {
    font-size: 40px;
  }
}
@media (min-width: 0px) and (max-width: 567px) {
  .fs-xs {
    font-size: 14px;
  }
  .fs-sm {
    font-size: 15px;
  }
  .fs-nr {
    font-size: 15px;
  }
  .fs-md {
    font-size: 16px;
  }
  .fs-sb {
    font-size: 17px;
  }
  .fs-bg {
    font-size: 18px;
  }
  .fs-lg {
    font-size: 20px;
  }
  .fs-xl {
    font-size: 22px;
  }
  .fs-2xl {
    font-size: 25px;
  }
  .fs-3xl {
    font-size: 30px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
      max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
      max-width: 1340px;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (min-width: 576px) {
  .d-sm-none {
      display: none !important;
  }
  .d-sm-block {
      display: block !important;
  }
  .d-sm-flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
      display: none !important;
  }
  .d-md-block {
      display: block !important;
  }
  .d-md-flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
  }
}

@media (min-width: 992px) {
  .d-lg-none {
      display: none !important;
  }
  .d-lg-block {
      display: block !important;
  }
  .d-lg-flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
  }
}

@media (min-width: 1200px) {
  .d-xl-none {
      display: none !important;
  }
  .d-xl-block {
      display: block !important;
  }
  .d-xl-flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
  }
}