/* colors */
.primary_color {
  color: #231f20;
}

.primary_bg {
  background-color: #231f20;
}

.color1 {
  color: #919398;
}

.bg1 {
  background-color: #919398;
}

.color2 {
  color: #151314;
}

.bg2 {
  background-color: #151314;
}

.color3 {
  color: #646162;
}

.bg3 {
  background-color: #646162;
}

.color4 {
  color: #AFA998;
}

.bg4 {
  background-color: #AFA998;
}

.color5{
  color: #637298;
}

.color6 {
  color: #FBDF98;
}

/* font weights */

.weight-300 {
  font-weight: 300;
}
.weight-400 {
  font-weight: 400;
}
.weight-500 {
  font-weight: 500;
}
.weight-600 {
  font-weight: 600;
}
.weight-700 {
  font-weight: 700;
}
